@media (max-width: 768px) {
	.navBar {
		flex-direction: row;
        justify-content: center;
		align-content: center;
	}
	.containerHeader {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		grid-template-areas: "icono1 . navBar";
		height: 100%;
	}
	.mainIndex{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.cajasIndex{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		grid-template-columns: none;
        grid-template-rows: none;
		width: 40%;
		div{
			width: auto;
        	height: auto;
		}
	}
	.containerNosotros {
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		margin: 10px;
		.imagenNosotros{
			width: 400px;
			height: 400px;
		}
	}
	.containerServicio{
		grid-template-columns: repeat(5,1fr);
		grid-template-rows: repeat(4,1fr);
		h1{
			grid-column: 2 / 5;
			grid-row: 1 / 2;
		}
		div{
			width: auto;
			height: auto;
			margin: 5px;
		}
		.traslaServicio{
			grid-column: 1 / 3;
			grid-row: 2 / 3;
		}
		.eventServicio{
			grid-column: 4 / 6;
			grid-row: 3 / 4;
		}
		.enfermeServicio{
			grid-column: 1 / 3;
			grid-row: 4 / 5;
		}
	}
	.containerGaleria{
		grid-template-columns: repeat(2,200px);
    	grid-template-rows: repeat(3,300px);
		grid-template-areas: 
    	"foto1 foto2"
    	"foto3 foto4"
    	"foto5 foto6"
	}
	.containerContacto{
        flex-direction: column;
		.contenedorDatos{
            width: 70%;
			form{
				padding: 0;
				input{
					width: max-content;
				}
			}
        }
        .containerInfo{
            width: 70%;
        }
    }
}